modules = ["nodejs-20", "python-3.11", "postgresql-16", "python3"]

[nix]
channel = "stable-24_05"
packages = ["android-tools", "firebase-tools", "freetype", "git-lfs", "gitFull", "imagemagick", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjdk17", "openjpeg", "openssh", "playwright", "playwright-driver", "postgresql", "tcl", "tk", "unzip", "wget", "zlib"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Stable Server"
author = 44735007
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node --max-old-space-size=512 server.js"

[[workflows.workflow]]
name = "Stable Server"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node --max-old-space-size=512 server.js"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33485
externalPort = 5000

[[ports]]
localPort = 36409
externalPort = 5173

[[ports]]
localPort = 37935
externalPort = 3000

[[ports]]
localPort = 39515
externalPort = 3002

[[ports]]
localPort = 40521
externalPort = 6000

[[ports]]
localPort = 43021
externalPort = 3003

[[ports]]
localPort = 43061
externalPort = 3001

[[ports]]
localPort = 44247
externalPort = 4200


[deployment]
deploymentTarget = "vm"
run = ["node", "server.js"]

[objectStorage]
defaultBucketID = "replit-objstore-6f952740-cee2-4603-8b31-051d69aa0fcd"

[agent]
expertMode = true
integrations = [
  "javascript_sendgrid==1.0.0==1.0.0==1.0.0:1.0.0",
  "twilio_send_message==1.0.0==1.0.0==1.0.0==1.0.0:1.0.0",
  "twilio_send_message==1.0.0==1.0.0==1.0.0==1.0.0==1.0.0:1.0.0",
  "javascript_sendgrid:1.0.0",
  "twilio_send_message==1.0.0==1.0.0:1.0.0",
  "javascript_stripe:1.0.0",
]
